@font-face {
	font-family: "nanumfont";
	src: url(./fonts/NanumSquareNeo-eHv.ttf);

}

:root {
  line-height: 1.5;
  color: #111;
  background-color: #fff;
  --font-namufont: "namufont"
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  font-family: var(--font-namufont);
}

p {
  color: black;
}